name: Deploy EKS

on:

  workflow_dispatch:
  
  push:
    branches: [ "main" ]
    paths:
    - 'eks/**'
  
  pull_request:
    branches: [ "main" ]
    paths: 
    - 'eks/**'

jobs:
  
  build:
    
    runs-on: ubuntu-latest
    
    permissions: read-all|write-all
    
    steps:
    
    - uses: actions/checkout@v3
    
    - name: Login into AWS
      run: aws configure set aws_access_key_id "AKIAZSHWKCDQZCNP4M6G" && aws configure set aws_secret_access_key ${{ secrets.AWS_KEY }} && aws configure set region "us-east-1" && aws configure set output "text"
  
    - name: Create an S3 Bucket
      run: |
        echo "ID=$(date +%s)"
        echo $(date +%s)
        echo "ID=$(date +%s)" >> $GITHUB_ENV

    - name: Create an S3 Bucket
      run: |
        echo ${{ env.ID }}
        echo eksbackend-${{ env.ID }}

    - name: Create an S3 Bucket
      run: |
        aws s3api create-bucket --bucket eksbackend-${{ env.ID }} --region us-east-1

    - name: Create an S3 Bucket
      run: gh variable set BACKENDS3 --body "${{ env.ID }}"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
     
#    - name: Create EKS cluster
#      run: terraform -chdir=eks init && terraform -chdir=eks apply -auto-approve
