name: Helm Package CI

on:

  workflow_dispatch:
  
  push:
    branches: [ "main" ]
    paths:
    - 'eks/**'
  
  pull_request:
    branches: [ "main" ]
    paths: 
    - 'eks/**'
    
jobs:
  
  build:
    
    runs-on: ubuntu-latest
    
    steps:
    
    - uses: actions/checkout@v3
    
    - name: Login into AWS
      run:  aws configure set aws_access_key_id "AKIAZSHWKCDQZCNP4M6G" && aws configure set aws_secret_access_key ${{ secrets.AWS_KEY }} && aws configure set region "us-east-1" && aws configure set output "None"
    
    - name: Create EKS cluster
      run: terraform -chdir=eks apply -auto-approve
